@page
@model IndexModel
@{
    ViewData["Title"] = "Scenic Foods Direct Store Delivery System";
}

<div class="text-center">
    <h1 class="display-4">Scenic Foods Direct Store Delivery System</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
