@page
@model InvoiceModel

<form>
    <div>
        <h2>Invoice Info</h2>
        <div class="d-flex align-items-center">
            <label for="txtVendor" class="form-label mb-0 me-2">Vendor:</label>
            <input type="text" id="txtVendor" class="form-control rounded-3 py-0 w-50" list="vendorList">
            <datalist id="vendorList">
                @foreach (var vendor in Model.Vendors)
                {
                    <option value="@vendor"></option>
                }
            </datalist>
        </div>
        <div class="d-flex align-items-center mt-2">
            <label for="txtInvoiceNumber" class="form-label mb-0 me-2">Number:</label>
            <input type="text" id="txtInvoiceNumber" class="form-control rounded-3 py-0 w-50" list="InvoiceList">
            <datalist id="InvoiceList"></datalist>
        </div>
        <div class="d-flex align-items-center mt-2">
            <label for="txtDate" class="form-label mb-0 me-2">Date:</label>
            <input type="date" id="txtDate" class="form-control rounded-3 py-0 w-50">
        </div>
    </div>
</form>

@section Scripts{
    <script>
        $(document).ready(function(){
            // date defualts to today
            $("#txtDate").val(getTodayDate());

            // array of all invoice numbers as strings so we can go through them and filter when the user types
            let arrInvoiceNumbers = @Json.Serialize(Model.InvoiceNumbers);

            // filtering invoice numbers by startsWith instead of contains
            $("#txtInvoiceNumber").on("input", function(){
                var strInputVal = $('#txtInvoiceNumber').val().toLowerCase(); // Get the input value in lowercase
                var strOptions = '';

                if (strInputVal !== '') {
                    // Iterate over all invoices and filter based on the input value
                    arrInvoiceNumbers.forEach(function(strInvoiceNumber) {
                        if ((strInvoiceNumber.toLowerCase()).startsWith(strInputVal)) {
                            strOptions += '<option value="' + strInvoiceNumber + '" />';
                        }
                    });
                    $('#InvoiceList').html(strOptions);
                } else {
                    // If the input is empty, clear the invoice list
                    $("#InvoiceList").empty();
                }
            });
        })

        // Function to get today's date in YYYY-MM-DD format
        function getTodayDate() {
            const today = new Date();
            const year = today.getFullYear();
            const month = String(today.getMonth() + 1).padStart(2, '0'); // Months are 0-based, so add 1
            const day = String(today.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        }
    </script>
}